.stylelinks a{
    font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 0.6);

}

#whitecolor{
color: white;
font-weight: 500;
}

.stylelinks>a:not(#whitecolor)::after{
    content: " / ";
}

.companyname{
    margin-top: 60px;
}

.textpicture{
    min-height: 58px;
    max-width: 510px;
    width: 100%;
    padding-bottom: 189px;
    padding-top: 183px;
}
#ball{
    margin-right: 135px;
    margin-top: 79px;
}
.compinf{
    margin-bottom: 103px;
}
.razdelna2{
    justify-content: space-between;
    max-width: 1920px;
}

.compinf span{
    font-style: italic;
    font-weight: 500;
}


.num{
 
    max-height: 70px;
}

.text{
    margin-top: 74px;
    max-width: 410px;
}

.centryfywhy{
max-width: 850px;

}

.itemswhy {
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    width: 1222px;